*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:Montserrat;
}
.menu {
    display: flex;
    background-color: black;
    width: 100%;
    margin: auto;
   padding: 20px;
}
li{
    color: white;
    list-style-type: none; 
}

li a{
    padding: 35px 10px;
}

.liens{
    width: fit-content;
    margin: auto;
    
}
a:hover{
    cursor: pointer;
    color: #337ab7;
}

ul{
    display: flex;
    padding: 0;
    margin-top: 35px;
   
    font-size: 15px;
    font-family: Montserrat;
    font-weight: 600;
    
   
}
.logo{
    margin-left: 50px;
    margin-top: 10px;
}


.compet{
    width: 98%;
    margin: auto;
    width: fit-content;
    margin-top: 20px;
}
.compet button {
    background-color: white;
    border: 0.5px solid black;
    border-radius: 5px;
    padding: 8px;
    margin-left: 15px;
    font-size: 15px;
    font-weight: bold;

}
.compet button:hover{
    background-color: #038DFE;
    color: white;
    cursor: pointer;
}


.aprenant{
    width: 95%;
    height: 80vh;
    margin: auto;
}
table{
width: 85%;
margin: auto;
margin-top: 50px;

border-spacing: 0px;

}
td{
    border: solid black 0.5px;
    font-weight: 600;
    text-align: center;
    padding: 10px;
    height: 100px;
    border-radius: 8px;
   
}

.niveaux{
    
    display: flex;
    justify-content:space-around;
    

}
.niveaux div
{

border: black solid 0.5px;
border-radius: 50%;
width: 100px;
height: 100px;
display: flex;
justify-content: center;
align-items: center;
}
.niveaux div:hover{
    background-color: #038DFE;
    color: white;
}
